<script setup lang="ts">
import ContactList from "../components/ContactList.vue";
import { findAllContacts, Contact } from "../api/contacts";
import { reactive, ref, onMounted, computed } from "vue";
import { useStore } from "../store";

const store = useStore();

const contacts = computed(() => store.state.contacts);
const error = ref<string | null>(null);

onMounted(async () => {
    const [_error, _contacts] = await findAllContacts();
    store.commit("setContacts", _contacts);
    error.value = _error;
});

const handleContactClicked = (contact: Contact) => {
    // Set contact as favourite
    store.commit("setAsFavourite", contact.login.uuid);
}


</script>

<template>
    <h1>Contacts {{ contacts.length }}</h1>
    <ContactList :contacts="contacts" @contactClicked="handleContactClicked" />
</template>