<script setup lang="ts">
import { PropType } from 'vue';
import { Contact } from '../api/contacts';

const emits = defineEmits(["contactClicked"]);

const props = defineProps({
    contacts: {
        type: Array as PropType<Contact[]>,
        required: true
    }
});

const onContactClicked = (contact: Contact) => {
    // EMIT!
    emits("contactClicked", contact);
}

</script>

<template>
    <ul>
        <li v-for="contact in props.contacts" 
            :key="contact.login.uuid" 
            @click="onContactClicked(contact)">
            <aside>
                <img :src="contact.picture.medium" />
            </aside>
            <div>
                <p>{{ contact.name.first }} {{ contact.name.last }}</p>
            </div>
        </li>
    </ul>
</template>