<script lang="ts" setup>
import { computed } from 'vue';
import { useStore } from "../store";

const store = useStore();

console.log(store);

const contactsCount = computed(() => store.getters.contactsCount);
const favouritesCount = computed(() => store.getters.favouritesCount);

</script>

<template>
    <nav>
        <span>Contacts</span>
        <ul>
            <li>
                <router-link to="/contacts">
                    <span>Contacts</span>
                    <span>{{ contactsCount }}</span>
                </router-link>
            </li>
            <li>
                <router-link to="/favourites">
                    <span>Favourites</span>
                    <span>{{ favouritesCount }}</span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>